spring:
  ###
  #   Database Settings
  ###
  datasource:
    url: jdbc:h2:mem:sampleDB;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    platform: h2
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true


  ###
  #   H2 Settings
  ###
  h2:
    console:
      enabled: true
      path: /console
      settings:
        trace: false
        web-allow-others: false



camunda.bpm:
  admin-user:
    id: demo
    password: demo
    firstName: Demo
  filter:
    create: All tasks

blackduck:
  url: ${BLACKDUCK_URL:https://poc96.blackduck.synopsys.com}
  token: ${BLACKDUCK_TOKEN:YTgzZTdlZWUtM2ZiMS00Y2QwLWFiMmYtMWIwNWY0NmFiMDZlOmNkZWQ4YTkzLWNjYjEtNDM2Yi04ZTI2LWNiN2ViNzc1OGYzMg==}
  userName: ${BLACKDUCK_USER}
  timeout: ${BLACKDUCK_TIMEOUT:300}